header {
    display: flex;
    justify-content: space-between;
    min-width: 100vw;
    /* margin: auto; */
    padding: 20px 15px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
header .logout img {
    border-radius: 50px;
}
