<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <title>Home</title>
</head>
<body>
    <header>
            <span class="material-symbols-outlined menu">
                menu
            </span>

            <span class="material-symbols-outlined login">
                account_circle
            </span>
            
        <!-- <div class="logout"> -->
            <!-- <img src="./img/account_box_24dp_000000_FILL0_wght400_GRAD0_opsz24 (1).svg" alt="" id="LogoutIcon"> -->
            
        <!-- </div> -->
    </header>
    <main>
        <div class="container_main">
            <div class="alert">
                <div class="head">Sistemas de dados FORD</div>
                <p>Seja bem-vindo!</p>
            </div>
        </div>
    </main>
</body>
</html>
